<h1>Login</h1> 
<form #my_form="ngForm">
    <input #email_input="ngModel" type="email" required email placeholder="email..." name="email" [(ngModel)]="credenials.email">
    <span *ngIf="email_input.touched && email_input.errors?.required" >Missing Email</span>
    <span *ngIf="email_input.touched && email_input.errors?.email">Invalid Email</span>
        
    <br><br>
    <input #password_input="ngModel" type="password" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$"
    required placeholder="password" name="password" [(ngModel)]="credenials.password">
<!-- 
    <input #password_input="ngModel" type="password" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$"
    required placeholder="password" name="password" [(ngModel)]="credenials.password"> -->

    <span *ngIf="password_input.touched && password_input.errors?.required" >Missing Password</span>
    <!-- <span *ngIf="password_input.touched && password_input.errors?.pattern">Minimum eight characters, at least one letter and one number:   </span> -->
 
    <br><br>
    <select #type_input="ngModel" name="type" required [(ngModel)]="credenials.type">
        <option selected disabled>Choose Type</option>
        <option>admin</option>
        <option>customer</option>
        <option>company</option>
    </select>
    <span *ngIf="type_input.touched && type_input.errors?.required"> Please choose Type</span>
    <br><br>
    <button (click)="loginToServer()">Login</button>

   
    <!-- <p>{{"{"+"email:"+ credenials.email +","+"password:"+ credenials.password +","+ "type:"+credenials.type +"}"}}</p> -->
</form>