<div>
    <table>
        <tr>
            <th>id</th>
            <th>companyId</th>
            <th>categeory</th>
            <th>title</th>
            <th>descrription</th>
            <th>price</th>
            <th>image</th>
            <th>buy</th>
         
        </tr>
        <tr *ngFor="let coup of coupons">
            <td>{{coup.id}}</td>
            <td>{{coup.companyId}}</td>
            <td>{{coup.categeory}}</td>
            <td>{{coup.title}}</td>
            <td>{{coup.descrription}}</td>
            <td>{{coup.price}}</td>
            <td>{{coup.image}}</td>
           <td><button mat-button mat-fab color="primary" style="font-size: x-large; float: right; margin-right: 10px;" (click)="deleteCoupon()">Buy+$$$</button></td>

        </tr>
    </table>
 </div>